In [93]:
import pandas as  pd
import numpy as np
face = pd.read_pickle("face.pickle")
survey = pd.read_pickle("survey.pickle")
survey.rename(columns={'insta_user_id':'user_id'}, inplace=True)
survey = survey[['user_id', 'PERMA', 'P', 'E', 'R', 'M', 'A', 'P_EMO', 'N_EMO', 'gender']]
survey.columns = survey.columns.str.lower()
image_data = pd.read_pickle("image_data.pickle")
survey.head()

,user_id,perma,p,e,r,m,a,p_emo,n_emo,gender
0,619868570,4.2500,4.333333,4.000000,4.666667,5.000000,3.666667,4.333333,4.000000,Male
1,187920333,8.2500,9.000000,7.333333,9.000000,8.000000,7.666667,9.000000,0.000000,Male
2,33420910,7.5625,8.000000,7.333333,7.666667,7.666667,7.333333,8.000000,3.333333,Female
3,2143580844,5.3750,6.000000,4.666667,3.666667,6.666667,5.666667,6.000000,6.000000,Male
4,263042348,NaN,5.666667,6.000000,6.000000,6.666667,7.000000,5.666667,3.000000,Female

In [94]:
#take subset of the dataframe with relevant information
faces_ss = face[['image_id','face_id','face_smile','face_smile_confidence','face_emo','emo_confidence']]
faces_ss.head(5)

,image_id,face_id,face_smile,face_smile_confidence,face_emo,emo_confidence
0,1003944279371027183_703978203,6.0,False,99.916168,SAD,12.660271
1,1003944279371027183_703978203,6.0,False,99.916168,CALM,8.252973
2,1003944279371027183_703978203,6.0,False,99.916168,SURPRISED,24.634266
3,1003944279371027183_703978203,68.0,False,84.395294,HAPPY,53.603287
4,1003944279371027183_703978203,68.0,False,84.395294,SAD,5.509090

In [113]:
faces_ss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86877 entries, 0 to 86876
Data columns (total 6 columns):
image_id                 86877 non-null object
face_id                  86877 non-null float64
face_smile               86877 non-null bool
face_smile_confidence    86877 non-null float64
face_emo                 86877 non-null object
emo_confidence           86877 non-null float64
dtypes: bool(1), float64(3), object(2)
memory usage: 3.4+ MB

In [114]:
#Filter the most dominant emotion per picture
faces_ss_picture = faces_ss.loc[faces_ss.groupby('image_id')['emo_confidence'].idxmax()]        
faces_df = faces_ss_picture.sort_index()
faces_df.head()

,image_id,face_id,face_smile,face_smile_confidence,face_emo,emo_confidence
3,1003944279371027183_703978203,68.0,False,84.395294,HAPPY,53.603287
23,1000126179441391393_30837828,58.0,True,75.528610,HAPPY,99.796265
31,1003924030857108353_183823541,71.0,True,89.504555,HAPPY,69.415947
33,1003174512238399721_703978203,47.0,True,99.678070,HAPPY,99.777328
40,1003107220628134553_1097967773,55.0,True,74.911453,HAPPY,78.396561

In [97]:
#Merge dataframs image_data and face subset data
image_face_df = pd.merge(image_data, faces_df, how='inner', on='image_id')
image_face_df.head()

,image_id,image_link,image_url,image_height,image_width,image_filter,image_posted_time_unix,image_posted_time,data_memorability,user_id,...,user_profile_pic,user_bio,user_followed_by,user_follows,user_posted_photos,face_id,face_smile,face_smile_confidence,face_emo,emo_confidence
0,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/...,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,...,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0,20.0,True,87.779747,HAPPY,96.513680
1,553884883234370621_263042348,https://www.instagram.com/p/evy13fpLQ9/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Amaro,1380248245,27-09-2013 02:17:25,0.843525,263042348,...,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0,114.0,True,99.106499,HAPPY,99.786133
2,725551583154452417_263042348,https://www.instagram.com/p/oRrVIcJLfB/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Amaro,1400712510,21-05-2014 22:48:30,0.859796,263042348,...,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0,81.0,True,99.765297,HAPPY,86.351143
3,729007634218530400_263042348,https://www.instagram.com/p/od9JS0JLZg/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Vesper,1401124503,26-05-2014 17:15:03,0.911094,263042348,...,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0,32.0,False,66.951912,ANGRY,14.569831
4,528485177494910753_263042348,https://www.instagram.com/p/dVjngJpLch/,https://scontent.cdninstagram.com/t51.2885-15/...,612.0,612.0,Sierra,1377220364,23-08-2013 01:12:44,0.899529,263042348,...,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0,81.0,False,99.999939,SAD,86.929901

In [98]:
# Calculate the mean emotion per user
image_face_df['face_emo'].value_counts()

HAPPY        11828
SURPRISED     1488
SAD           1110
CONFUSED       497
CALM           462
ANGRY          440
DISGUSTED      101
Name: face_emo, dtype: int64

In [99]:
df_emotions_per_user = pd.crosstab(image_face_df['user_id'], image_face_df['face_emo'])
df_emotions_per_user= df_emotions_per_user.reset_index().rename_axis(None, axis=1)
df_emotions_per_user

        user_id  ANGRY  CALM  CONFUSED  DISGUSTED  HAPPY  SAD  SURPRISED
0    1097967773      7     1         6          2    124   13         13
1      11520833      5     2         5          0     80   11         11
2    1223036636      1     0         0          0     10    1          1
3    1224423305      0     0         1          0      0    0          0
4    1249457735      0     0         1          0     12    1          2
5    1308763259      1     1         1          0     19    1          3
6      13745951      4     4         7          1    400   21         15
7    1414011473      0     1         0          1     16    1          7
8    1429720420      1     0         0          0      0    0          0
9     143763900     11     3         7          0    393   11         29
10    143854846      5     0         3          2    173   23         30
11   1441644483      0     0         0          0     14    1          0
12    145242840      1     0         2          1     96   23         13
13   1476525818      0     0         0          0      1    0          0
14   1484680967      0     0         0          0      2    0          0
15   1508580385      5     1         2          2     65   10         14
16   1556973431      2     1         0          0      0    1          0
17   1600397470     10    22        17          0    202   17         44
18      1619510      8     2         7          2    368   23         19
19   1654216643      0     2         5          0     32    2         10
20   1708321363      1     3         1          1     66    3          1
21   1753541345      0     0         0          0     12    1          5
22   1804133497      3     1         1          0     28    1          3
23     18108188      2     2         2          0     22    5          2
24    183242721      0     0         0          0      8    0          1
25    183823541     18    12         9          3    262   41         55
26    184249078      0     0         1          0      7    0          0
27     18504643      0     2         0          0     16    1          3
28    187539125     10     0        12          0     49    4         10
29    187920333      0     0         0          0      6    0          0
..          ...    ...   ...       ...        ...    ...  ...        ...
115   451627351      3    12        26          3    100   38         13
116   452851338     10    10         5          0    411   17         25
117    45655555      0     0         0          0     15    0          0
118    46329534      1     1         5          1     69    7          6
119   481709584      6     8         2          1     63    8         22
120    48972978      0    10         3          2    128   11         15
121   494837119      1     3         1          0     31    7          3
122    49519677      0     1         0          0      7    0          1
123    49846561      2     1         0          0     12    0          2
124    50853245      4     2         8          0    336   14         13
125    52590715      4     2         2          0    152    2         11
126   526051197      0     0         0          0      3    0          1
127   531942752      0     0         0          0     28    1          0
128    53918317      0     0         0          1     40    3          5
129   545252488      0     0         0          0      4    0          0
130   545497348      6     3        12          2     75   11         31
131    55281515      0     1         4          0    174   11          7
132    55520631      3     1         1          0     51    1          5
133   555477511      2     0         3          0     29    2         11
134   571630184      0     0         0          0      5    0          0
135   588452400      2     1         0          0     25    4          4
136   589215950      1     0         0          0      4    0          0
137   619868570      8     5        16          0    110   11         12
138   650122500      2     2         5          0    109    9         18
139     6734387      3     5         3          0    196   11         11
140   703978203     27    41        30          8    508   89         68
141     7410944      6     1         4          1    103    5         23
142     8854187      8     9        16          2    105   17         39
143   898090810      0     0         0          0      4    0          0
144     9931123      0     0         0          0      2    0          1

[145 rows x 8 columns]

In [100]:
df_emotions_per_user['user_id'] = df_emotions_per_user['user_id'].astype(str).astype('int64')
df_emotions_per_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 8 columns):
user_id      145 non-null int64
ANGRY        145 non-null int64
CALM         145 non-null int64
CONFUSED     145 non-null int64
DISGUSTED    145 non-null int64
HAPPY        145 non-null int64
SAD          145 non-null int64
SURPRISED    145 non-null int64
dtypes: int64(8)
memory usage: 9.1 KB

In [101]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 10 columns):
user_id    161 non-null int64
perma      160 non-null float64
p          161 non-null float64
e          161 non-null float64
r          161 non-null float64
m          161 non-null float64
a          161 non-null float64
p_emo      161 non-null float64
n_emo      161 non-null float64
gender     161 non-null category
dtypes: category(1), float64(8), int64(1)
memory usage: 11.6 KB

In [102]:
survey_emotion_per_user = pd.merge(df_emotions_per_user, survey, how='inner', on='user_id')
survey_emotion_per_user.tail()

,user_id,ANGRY,CALM,CONFUSED,DISGUSTED,HAPPY,SAD,SURPRISED,perma,p,e,r,m,a,p_emo,n_emo,gender
142,703978203,27,41,30,8,508,89,68,6.0625,6.666667,6.000000,6.000000,5.333333,6.000000,6.666667,5.000000,Female
143,7410944,6,1,4,1,103,5,23,7.8750,8.000000,6.000000,9.333333,8.666667,7.000000,8.000000,6.000000,Female
144,8854187,8,9,16,2,105,17,39,6.6875,6.666667,8.333333,7.000000,8.000000,3.333333,6.666667,8.000000,Female
145,898090810,0,0,0,0,4,0,0,8.3125,7.333333,9.333333,9.000000,7.666667,8.333333,7.333333,4.333333,Female
146,9931123,0,0,0,0,2,0,1,6.9375,6.333333,6.666667,6.000000,7.000000,8.666667,6.333333,5.333333,Female

In [103]:
survey_emotion_per_user.to_pickle('survey_emotion_per_user.pickle')

In [104]:
image_face_df.tail()

,image_id,image_link,image_url,image_height,image_width,image_filter,image_posted_time_unix,image_posted_time,data_memorability,user_id,...,user_profile_pic,user_bio,user_followed_by,user_follows,user_posted_photos,face_id,face_smile,face_smile_confidence,face_emo,emo_confidence
15921,1469703463775926494_545497348,https://www.instagram.com/p/BRlb4Nzhnje/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Valencia,1489422327,13-03-2017 16:25:27,0.848399,545497348,...,https://scontent.cdninstagram.com/t51.2885-19/...,,1345.0,498.0,505.0,120.0,True,85.372635,HAPPY,94.893829
15922,1425743483100242642_545497348,https://www.instagram.com/p/BPJQiTbBKLS/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Nashville,1484181889,12-01-2017 00:44:49,0.868316,545497348,...,https://scontent.cdninstagram.com/t51.2885-19/...,,1345.0,498.0,505.0,40.0,True,99.526535,HAPPY,60.660969
15923,1438727142409259779_545497348,https://www.instagram.com/p/BP3YracBEsD/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Hudson,1485729662,29-01-2017 22:41:02,0.904859,545497348,...,https://scontent.cdninstagram.com/t51.2885-19/...,,1345.0,498.0,505.0,61.0,True,50.642078,HAPPY,34.741051
15924,1447323194276085366_545497348,https://www.instagram.com/p/BQV7MbmAn52/,https://scontent.cdninstagram.com/t51.2885-15/...,402.0,640.0,Nashville,1486754391,10-02-2017 19:19:51,0.824838,545497348,...,https://scontent.cdninstagram.com/t51.2885-19/...,,1345.0,498.0,505.0,99.0,False,71.269417,CONFUSED,63.839806
15925,1446588517521194546_545497348,https://www.instagram.com/p/BQTUJejAn4y/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Normal,1486666811,09-02-2017 19:00:11,0.899559,545497348,...,https://scontent.cdninstagram.com/t51.2885-19/...,,1345.0,498.0,505.0,71.0,False,60.369682,HAPPY,46.269577

In [105]:
dominant_emotion_per_user = image_face_df.groupby('user_id')['face_emo'].apply(lambda x: x.value_counts().index[0]).reset_index()
#dominant_emotion_per_user = pd.crosstab(image_face_df['user_id'], image_face_df['face_emo'])
dominant_emotion_per_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 2 columns):
user_id     145 non-null object
face_emo    145 non-null object
dtypes: object(2)
memory usage: 2.3+ KB

In [106]:
dominant_emotion_per_user['user_id'] = dominant_emotion_per_user['user_id'].astype(str).astype('int64')
dominant_emotion_per_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 2 columns):
user_id     145 non-null int64
face_emo    145 non-null object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB

In [108]:
survey_dominant_emotion = pd.merge(dominant_emotion_per_user, survey, how='inner', on='user_id')
survey_dominant_emotion.tail()

,user_id,face_emo,perma,p,e,r,m,a,p_emo,n_emo,gender
142,703978203,HAPPY,6.0625,6.666667,6.000000,6.000000,5.333333,6.000000,6.666667,5.000000,Female
143,7410944,HAPPY,7.8750,8.000000,6.000000,9.333333,8.666667,7.000000,8.000000,6.000000,Female
144,8854187,HAPPY,6.6875,6.666667,8.333333,7.000000,8.000000,3.333333,6.666667,8.000000,Female
145,898090810,HAPPY,8.3125,7.333333,9.333333,9.000000,7.666667,8.333333,7.333333,4.333333,Female
146,9931123,HAPPY,6.9375,6.333333,6.666667,6.000000,7.000000,8.666667,6.333333,5.333333,Female

In [109]:
survey_dominant_emotion.to_pickle('survey_dominant_emotion')

In [112]:
survey_dominant_emotion['face_emo'].value_counts()

HAPPY        139
ANGRY          3
CONFUSED       2
SURPRISED      2
SAD            1
Name: face_emo, dtype: int64