In [2]:
import pandas as  pd
import numpy as np
object_labels = pd.read_pickle("object_labels.pickle")
object_labels.columns = object_labels.columns.str.lower()

In [3]:
object_labels.head()

                        image_id data_amz_label  data_amz_label_confidence
0   863479386465416946_545497348         Animal                  90.163101
1   916939688871507178_545497348         Animal                  83.518669
2   551681403589539797_545497348         Animal                  74.837212
3  1189285646274180856_545497348         Animal                  76.920967
4   962361211517974133_545497348         Animal                  71.223869

In [4]:
object_labels['data_amz_label'].value_counts()

Person            17507
People            17340
Human             17339
Poster             3759
Plant              3252
Portrait           2893
Flyer              2634
Face               2255
Animal             2191
Food               2147
Smile              2090
Brochure           1975
Mammal             1865
Text               1819
Potted Plant       1776
Pet                1763
Furniture          1478
Collage            1369
Outdoors           1188
Canine             1016
Dog                1014
Beverage           1002
Flower              961
Couch               922
Selfie              919
Cup                 903
Art                 902
Drink               882
Bowl                879
Dessert             858
                  ...
Cricket               1
Rosary                1
Breaker               1
Octopus               1
Rocket                1
Oboe                  1
Dishwasher            1
Puffer                1
Chime                 1
Napkin                1
Dial Telephone        1
Angelfish             1
Tar                   1
Scaffolding           1
Doormat               1
Plug                  1
Brown Bear            1
Amphiprion            1
Nursery               1
Hemp                  1
Stone Wall            1
Fleece                1
Lady                  1
Hurricane             1
Swallow               1
Barn                  1
Blimp                 1
Baseball Glove        1
Rodeo                 1
Runway                1
Name: data_amz_label, Length: 2101, dtype: int64

In [5]:
dominant_objects = object_labels.loc[object_labels.groupby('image_id')['data_amz_label_confidence'].idxmax()] 
dominant_objects = dominant_objects.sort_index()

In [6]:
survey = pd.read_pickle("survey.pickle")
survey.rename(columns={'insta_user_id':'user_id'}, inplace=True)
survey = survey[['user_id', 'PERMA', 'P', 'E', 'R', 'M', 'A', 'P_EMO', 'N_EMO', 'gender']]
image_data = pd.read_pickle("image_data.pickle")
survey.columns = survey.columns.str.lower()

In [7]:
image_object_df = pd.merge(image_data, dominant_objects, how='inner', on='image_id')
image_object_df.head()

,image_id,image_link,image_url,image_height,image_width,image_filter,image_posted_time_unix,image_posted_time,data_memorability,user_id,user_full_name,user_name,user_website,user_profile_pic,user_bio,user_followed_by,user_follows,user_posted_photos,data_amz_label,data_amz_label_confidence
0,1316962883971761394_3468175004,https://www.instagram.com/p/BJGysPxgsTy/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Lo-fi,1471214231,14-08-2016 22:37:11,0.800521,3468175004,Leah Jenkins,leah.chelle,,https://scontent.cdninstagram.com/t51.2885-19/...,,7.0,0.0,1.0,Animal,82.891838
1,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/...,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0,People,99.299934
2,594552614686078174_263042348,https://www.instagram.com/p/hARnP2pLTe/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Vesper,1385096216,22-11-2013 04:56:56,0.672679,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0,People,99.295792
3,553884883234370621_263042348,https://www.instagram.com/p/evy13fpLQ9/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Amaro,1380248245,27-09-2013 02:17:25,0.843525,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0,Person,99.137840
4,729007634218530400_263042348,https://www.instagram.com/p/od9JS0JLZg/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Vesper,1401124503,26-05-2014 17:15:03,0.911094,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0,People,99.267441

In [9]:
objects_per_user = pd.crosstab(image_object_df['user_id'], image_object_df['data_amz_label'])
objects_per_user= objects_per_user.reset_index().rename_axis(None, axis=1)
objects_per_user = objects_per_user[['user_id', 'Plant', 'Person', 'Animal', 'Food', 'Art']]
objects_per_user

        user_id  Plant  Person  Animal  Food  Art
0    1097967773      3     103       0    16    0
1      11520833      8      53      21     5    7
2    1223036636      0       5       0     1    0
3    1224423305      3       2       0    17    0
4    1249457735      3      14       0     1    0
5    1282197965      0       0       0     1    0
6    1308763259      0       8       0    10    0
7      13745951     12     211      19     4    2
8    1414011473      1      17      13     1    1
9    1429720420      0       0       0     3    0
10    143763900     15     195      27     8    2
11    143854846     37     222      17     5    2
12   1441644483      1       9       2     1    1
13    145242840      2      81       3    32    1
14   1476525818      0       0       0     0    0
15   1484680967      0       1       0     0    0
16   1508580385      6      51       8     6    0
17   1556973431      0       2       1     0    0
18   1600397470      1     180       1     2    5
19      1619510     75     203      64    48    3
20   1654216643      0      36       2     0    2
21   1685907649      0       0       0     0    0
22   1708321363      0      42       1     0    0
23   1753541345     25      10      33     6    2
24   1804133497      0      17       0     0    0
25     18108188      8      17       5     3    0
26   1821628907      0       0       0     0    0
27    183242721      0       3       0     0    0
28    183823541     93     328      54    16   21
29    184249078      3       3       3     0    0
..          ...    ...     ...     ...   ...  ...
126   451627351      6     105       1     0    0
127   452851338     69     246      24    35   10
128    45655555      0       5       0     0    0
129    46329534      8      31     182     6    0
130   481709584      0      60       8     2    3
131    48972978      2      67       2     0    0
132   494837119      4      24      14     5    8
133    49519677      0       4       1     0    0
134    49846561      0      13       0     0    0
135    50853245     21     174      95     4    3
136    52590715     15      57      39    34    3
137   526051197      0       2       0     0    0
138   531942752      2       8       0     6    0
139    53918317      1      26       1     0    0
140   545252488      0       0       0     0    0
141   545497348     19      67      13    17   26
142    55281515     12      85      10     9    3
143    55520631      0      24       6     3    0
144   555477511    305      69      76     2    6
145   571630184      0       3       0     0    0
146   588452400     16      24      15    17    2
147   589215950      0       2       0     0    0
148   619868570      4      89      12     0    3
149   650122500      5      72      13    11    6
150     6734387     13     112      11    11    3
151   703978203     41     473      61    17    8
152     7410944     28      55      28    16    3
153     8854187     20     105      59    14   12
154   898090810      2       1       1     1    0
155     9931123      0       0       0     0    0

[156 rows x 6 columns]

In [34]:
objects_per_user['user_id'] = objects_per_user['user_id'].astype(str).astype('int64')
survey_objects_per_user = pd.merge(objects_per_user, survey, how='inner', on='user_id')
survey_objects_per_user.tail()

,user_id,Plant,Person,Animal,Food,Art,perma,p,e,r,m,a,p_emo,n_emo,gender
153,703978203,41,473,61,17,8,6.0625,6.666667,6.000000,6.000000,5.333333,6.000000,6.666667,5.000000,Female
154,7410944,28,55,28,16,3,7.8750,8.000000,6.000000,9.333333,8.666667,7.000000,8.000000,6.000000,Female
155,8854187,20,105,59,14,12,6.6875,6.666667,8.333333,7.000000,8.000000,3.333333,6.666667,8.000000,Female
156,898090810,2,1,1,1,0,8.3125,7.333333,9.333333,9.000000,7.666667,8.333333,7.333333,4.333333,Female
157,9931123,0,0,0,0,0,6.9375,6.333333,6.666667,6.000000,7.000000,8.666667,6.333333,5.333333,Female

In [25]:
dominant_object_per_user = image_object_df.groupby('user_id')['data_amz_label'].apply(lambda x: x.value_counts().index[0]).reset_index()
dominant_object_per_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 2 columns):
user_id           156 non-null object
data_amz_label    156 non-null object
dtypes: object(2)
memory usage: 2.5+ KB

In [26]:
dominant_object_per_user['user_id'] = dominant_object_per_user['user_id'].astype(str).astype('int64')

In [27]:
survey_dominant_object = pd.merge(dominant_object_per_user, survey, how='inner', on='user_id')
survey_dominant_object.tail()

,user_id,data_amz_label,perma,p,e,r,m,a,p_emo,n_emo,gender
153,703978203,Person,6.0625,6.666667,6.000000,6.000000,5.333333,6.000000,6.666667,5.000000,Female
154,7410944,People,7.8750,8.000000,6.000000,9.333333,8.666667,7.000000,8.000000,6.000000,Female
155,8854187,Person,6.6875,6.666667,8.333333,7.000000,8.000000,3.333333,6.666667,8.000000,Female
156,898090810,Water,8.3125,7.333333,9.333333,9.000000,7.666667,8.333333,7.333333,4.333333,Female
157,9931123,People,6.9375,6.333333,6.666667,6.000000,7.000000,8.666667,6.333333,5.333333,Female

In [28]:
survey_dominant_object['data_amz_label'].value_counts()

People         67
Person         50
Food           10
Animal          7
Plant           4
Poster          3
Text            3
Bird            2
Automobile      1
Bottle          1
Ice             1
Club            1
Collage         1
Electronics     1
Water           1
Couch           1
Money           1
Camera Lens     1
Home Decor      1
White Board     1
Name: data_amz_label, dtype: int64